*{
	color:white;
}

div a {
	text-decoration:none;
}
.content-holder {
	display:flex;
	flex-direction:column;
	box-shadow:2px 2px 30px black;
	width:1170px;
	text-align:center;
	height:570px;
	padding:30px;
	overflow:auto;
	/* background-color:#EEF2FF; */
	margin:0 0 0 200px;
	color:black;
	font-family: 'Noto Sans JP', sans-serif;
}

.content-holder > h1{
	padding-bottom:20px;
}

.blog-content {
	padding:0 20px;
	text-align:left;
	border:2px solid white;
	margin-bottom:20px;
	font-family: 'Lora', serif;

}