.cr-01,.cr-02,.cr-03,.cr-04,.cr-05,.cr-06,.cr-07,.cr-08,.cr-09,.cr-10,.cr-11,.cr-12,.cr-13,.cr-14,.cr-15{
	height:20px;
	width:20px;
	background-color:white;
	background-image: linear-gradient(147deg, #04619f 0%, #000000 74%);
	border-radius:50%;
	position:absolute;
	bottom:10px;
}

.cr-01{
	top:10px;
	left:10px;
	offset-path:path('m-0.60896,890.93995c101.96166,80.39285 372.55224,-311.76741 205.88413,-456.8667c-166.66811,-145.0993 -19.60801,-256.86497 7.84321,-278.43379c27.45122,-21.56881 450.68171,-258.22202 127.91073,-377.20971');
	animation:move 15s infinite linear;
}

.cr-02 {
	height:30px;
	width:30px;
	left:60px;
	top:0;
	offset-path:path('m307.69038,1009.61329c139.8177,20.69412 182.05208,-335.89891 179.48797,-464.1046c-2.56411,-128.20569 -153.84683,-235.89847 -156.41094,-330.77068c-2.56411,-94.87221 151.28271,-230.77024 153.84683,-302.56543c2.56411,-71.79519 -61.53873,-46.15405 -64.09957,-45.50649');
	animation:move 20s infinite linear;
}

.cr-03 {
	height:20px;
	width:20px;
	left:-215px;
	top:30;
	offset-path:path('m284.61335,858.33058c165.45884,171.97683 248.71904,-289.74486 238.46258,-410.25821c-10.25646,-120.51335 -125.64158,-169.23151 -174.35974,-276.92429c-48.71816,-107.69278 143.59037,-130.7698 146.15449,-251.28315c2.56411,-120.51335 -110.25689,-233.33436 -112.82101,-233.33436');
	animation:move 25s infinite linear;
}


.cr-05,.cr-06,.cr-07,.cr-08,.cr-09 {
	height:200px;
	width:200px;
	background-image:none;
	box-shadow:3px 3px 10px black;
	bottom:250px;
}

.cr-05 img:hover {
	height:160px;
	margin:20px 0px 0px 25px;
	transition:all 500ms;
}

.cr-06 img:hover {
	height:140px;
	margin:20px 0px 0px 25px;
	transition:all 500ms;
}

.cr-07 img:hover {
	height:140px;
	margin:30px 0px 0px 10px;
	transition:all 500ms;
}

.cr-08 img:hover {
	height:110px;
	margin:40px 0px 0px px;
	transition:all 500ms;
}

.cr-05 {
	right:100px;
	bottom:100px;
	box-shadow:-3px 3px 10px black;
	offset-path: path('m84.86576,188.72981c0,0 372.55254,-249.02196 598.04487,-72.5497c225.49232,176.47225 -31.37285,419.6118 -31.9241,419.11906c0.55125,0.49274 -254.35312,225.98507 -219.05867,-26.9585c35.29445,-252.94356 533.33837,-317.65006 532.78712,-318.1428c0.55125,0.49274 265.25964,-68.13536 371.14299,204.41624c105.88335,272.55159 -94.11853,454.90626 -94.66979,454.41351c-1687.69999,47.55202 -1466.12927,-436.76629 -1156.32242,-660.29781z');
	animation:move 130s infinite linear;
	transform-origin:600px 0px;
	
}

.cr-06{
	left:400px;
	box-shadow:-3px 3px 10px black;
	top:500px;
	offset-path: path('m84.86576,188.72981c0,0 372.55254,-249.02196 598.04487,-72.5497c225.49232,176.47225 -31.37285,419.6118 -31.9241,419.11906c0.55125,0.49274 -254.35312,225.98507 -219.05867,-26.9585c35.29445,-252.94356 533.33837,-317.65006 532.78712,-318.1428c0.55125,0.49274 265.25964,-68.13536 371.14299,204.41624c105.88335,272.55159 -94.11853,454.90626 -94.66979,454.41351c-1687.69999,47.55202 -1466.12927,-436.76629 -1156.32242,-660.29781z');
	transform-origin:390px 0px;
	animation: move 130s infinite linear;
}

.cr-07{
	left:100px;
	top:105px;
	offset-path: path('m84.86576,188.72981c0,0 372.55254,-249.02196 598.04487,-72.5497c225.49232,176.47225 -31.37285,419.6118 -31.9241,419.11906c0.55125,0.49274 -254.35312,225.98507 -219.05867,-26.9585c35.29445,-252.94356 533.33837,-317.65006 532.78712,-318.1428c0.55125,0.49274 265.25964,-68.13536 371.14299,204.41624c105.88335,272.55159 -94.11853,454.90626 -94.66979,454.41351c-1687.69999,47.55202 -1466.12927,-436.76629 -1156.32242,-660.29781z');
	animation: move 130s infinite linear;
}

.cr-08{
	right:520px;
	top:100px;
	offset-path: path('m84.86576,188.72981c0,0 372.55254,-249.02196 598.04487,-72.5497c225.49232,176.47225 -31.37285,419.6118 -31.9241,419.11906c0.55125,0.49274 -254.35312,225.98507 -219.05867,-26.9585c35.29445,-252.94356 533.33837,-317.65006 532.78712,-318.1428c0.55125,0.49274 265.25964,-68.13536 371.14299,204.41624c105.88335,272.55159 -94.11853,454.90626 -94.66979,454.41351c-1687.69999,47.55202 -1466.12927,-436.76629 -1156.32242,-660.29781z');
	animation: move 130s infinite linear;
	transform-origin:290px 280px;
}

@keyframes move {
  0% {
    offset-distance: 0%;
	/* transform:rotate(0deg); */
  }
  100% {
    offset-distance: 100%;
	/* transform:rotate(360deg); */
  }
}

.cr-09 {
	width:300px;
	height:300px;
	right:660px;
	top:230px;
	box-shadow:0px 0px 13px black;
	background:url('images/saksham.jpg') center;
	background-size:400px auto;
}

.cr-10, .cr-11,.cr-12,.cr-13,.cr-14,.cr-15 {
	height:30px;
	width:30px;
	background-image: linear-gradient(-140deg, #000000 0%, #04619f 74%);
	right:-10px;
	bottom:0;
}

.cr-11 {
	height:50px;
	width:50px;
	right:45px;
	bottom:95px;
}

.cr-12 {
	height:90px;
	width:90px;
	right:125px;
	bottom:180px;
}

/* .cr-13 { */
	/* height:40px; */
	/* width:40px; */
	/* right:55px; */
	/* top:180px; */
/* } */

/* .cr-14 { */
	/* height:20px; */
	/* width:20px; */
	/* right:35px; */
	/* top:170px; */
/* } */


img {
	height:150px;
	margin:20px 0px 0px 30px;
}

.cr-08 img {
	height:100px;
	margin:50px 0px 0px 20px;
}

.cr-07 img {
	height:130px;
	margin:30px 0px 0px 20px;
}

.cr-06 img {
	height:130px;
	margin:30px 0px 0px 30px;
}
