#intro {
	font-size:45px;
	letter-spacing:0.5px;
	margin-top:360px;
}

.cr-09 {
	height:250px;
	width:250px;
	margin:80px 0 0 0;
	background-size:250px auto;
}

.git, .twitter, .codepen, .linkedin, .instagram{
	background-size:30px auto;
	margin:0 0 0 15px;
}

.instagram{
	margin-left:40px;
}

.nm-01 li {
	font-size:35px;
}

.cr-05,.cr-06,.cr-07,.cr-08{
	height:150px;
	width:150px;
}

.justifyContent img {
	height:100px;
}

.cr-08 img {
	height:70px;
	margin:40px 0px 0px 20px;
}

.cr-07 img {
	margin:30px 0px 0px 20px;
}

.cr-06 img {
	margin:30px 0px 0px 30px;
}

.cr-05 {
	offset-path: path('m-88.39328,823.50635c-36.23205,-310.77535 181.16024,-240.58079 208.69659,-233.33439c27.53636,7.24641 185.50808,66.66697 357.97263,-146.37747c172.46455,-213.04444 139.13106,-242.03008 279.71141,-284.05925c140.58034,-42.02918 259.42146,33.33348 272.465,65.21769c13.04354,31.8842 195.65306,4.34785 228.98654,-69.56553c33.33348,-73.91338 33.33348,-73.91338 33.32055,-72.77833');
	transform-origin:-400px 200px;
	animation: move 90s infinite linear;
}

.cr-06{
	offset-path: path('m-88.39328,823.50635c-36.23205,-310.77535 181.16024,-240.58079 208.69659,-233.33439c27.53636,7.24641 185.50808,66.66697 357.97263,-146.37747c172.46455,-213.04444 139.13106,-242.03008 279.71141,-284.05925c140.58034,-42.02918 259.42146,33.33348 272.465,65.21769c13.04354,31.8842 195.65306,4.34785 228.98654,-69.56553c33.33348,-73.91338 33.33348,-73.91338 33.32055,-72.77833');
	transform-origin:-400px 0px;
}

.cr-07{
	display:none;
}

.cr-08{
	offset-path: path('m811.61078,758.28867c-1140.58486,-813.04715 113.04399,-384.0597 -294.20423,-326.08843c-407.24821,57.97128 -386.95827,-191.30521 -405.79893,-243.47936c-18.84066,-52.17415 -10.14497,-153.62388 -252.17505,-210.14588c-242.03008,-56.52199 -301.45063,176.81239 -300.01426,176.49815');
	transform-origin:0px 0px;
	animation: move 90s infinite linear;
}

.cr-05 img:hover, .cr-06 img:hover, .cr-07 img:hover, .cr-08 img:hover {
	pointer-events:none;
}

@media screen and (max-width: 640px) {
	.cr-05,.cr-06,.cr-07,.cr-08{
		display:none;
	}
	.cr-09 {
		margin-left: -20px;
	}
	.justifyContent h1 {
		margin-left:-30px;
	}
}

@media screen and (max-width: 570px) {
	#intro {
		font-size: 38px;
		margin-left:-10px;
	}
	.nm-01 li a {
		font-size: 30px;
	}
	.cr-09 {
		margin-left: 0px;
	}
}

@media screen and (max-width: 470px){
	#intro span {
		display :none;
	}
	#intro {
		margin-left:10px;
	}
	#intro:before{
		content:'Saksham';
		display:block;
		color:white;
		margin-left:65px;
		margin-top:-10px;
	}
	.buttons{
		margin-top: 470px;
		margin-left:-30px;
	}
}
















