@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
html{
	background: linear-gradient(147deg, #000000 0%, #04619f 74%) no-repeat fixed;
	height:100%;
}
body {
	margin:0;
	overflow:hidden;
	color:white;
	font-family: 'Rum Raisin', sans-serif;
}

.justifyContent {
	display:flex;
	justify-content:center;
}

a {
	color:white;
}

.nm-01 {
	font-size:40px;
	list-style-type:none;
	margin-top:20px;
	text-align:left;
}

.nm-01 li {
	display:inline;
	padding-right:40px;
}

.nm-01 li a {
	text-decoration:none;
}
.mn-0 {
	color:white;
}

.cr-09 {
	display:flex;
	justify-content:center;
	align-items:center;
}

.justifyContent h1 {
	letter-spacing:4px;
	bottom:180px;
	font-weight:200;
	color:black;
	font-size:50px;
	margin:350px 0px 0px 0px;
}
.feather {
	position:absolute;
	right:40px;
	top:30px;
}


.backImageThree h4 {
	font-family: 'Noto Sans JP', sans-serif;
	margin-bottom:-10px;
	padding-top:10px;
}

.animateIt {
	animation:peek 100ms linear forwards;
	/* transform-origin:150px 200px; */
}

.backIn{
	animation:comeIn 100ms linear forwards;
	/* transform-origin:150px 200px; */
}


@keyframes peek{
	from{
		width:300px;
	}
	to{
		width:0px;
	}
}

@keyframes comeIn{
	from{
		width:0px;
	}
	to{
		width:300px;
	}
}




























