@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
body {
	background: linear-gradient(147deg, #000000 0%, #04619f 74%);
	margin:0;
	overflow:hidden;
	color:white;
	font-family: 'Rum Raisin', sans-serif;
}

.justifyContent {
	display:flex;
	justify-content:center;
}

a {
	color:white;
}

.nm-01 {
	font-size:40px;
	list-style-type:none;
	margin-top:20px;
	text-align:left;
}

.nm-01 li {
	display:inline;
	padding-right:40px;
}

.nm-01 li a {
	text-decoration:none;
}
.mn-0 {
	color:white;
}

.cr-09 {
	display:flex;
	justify-content:center;
	align-items:center;
}

.justifyContent h1 {
	letter-spacing:4px;
	bottom:180px;
	font-weight:200;
	color:black;
	font-size:50px;
	margin:350px 0px 0px 0px;
}
.feather {
	position:absolute;
	right:40px;
	top:30px;
}

.js-project, #oth-heading{
	font-family: 'Noto Sans JP', sans-serif;
	font-size:20px;
	margin-left:300px;
	letter-spacing:1px;
}
.js-project a, #oth-heading a, .js-images h3 {
	font-family: 'Noto Sans JP', sans-serif;
	text-decoration:none;
	margin-bottom:-10px;
	padding-top:10px;
}
.js-images {
	font-family: 'Lora', serif;
	visibility:hidden;
}

.js-project a:nth-of-type(2) {
	margin-left:70px;
}

.js-images, .js-fly-02, .js-fly-04 {
	height:150px;
	width:300px;
	cursor:pointer;
	border-radius:20px;
	margin:70px 0px 0px 300px;
	box-shadow:-2px -2px 10px black;
	text-align:center;
}

.js-fly-02, .js-fly-04 {
	background:url('../images/quiz2.png');
	background-size:300px auto;
	margin:-150px 0px 0px 300px;
}

.js-fly-04 {
	background:url('../images/quiz1.png');
	background-size:300px auto;
}

.oth-project {
	height:150px;
	text-align:center;
	width:300px;
	border-radius:20px;
	box-shadow:-2px -2px 10px black;
	margin:-510px 0px 0px 930px;
	cursor:pointer;
	visibility:hidden;
	font-family: 'Lora', serif;
}

.oth-fly{
	visibility:visible;
	background:url('../images/website.png') center;
	background-size:360px auto;
	margin:-150px 0px 0px 930px;
	
}

.backImageThree h4 {
	font-family: 'Noto Sans JP', sans-serif;
	margin-bottom:-10px;
	padding-top:10px;
}

#oth-heading {
	margin:30px 0px 0px 930px;
}

#oth-heading a:nth-of-type(2){
	margin-left:70px;
}

.animateIt {
	animation:peek 100ms linear forwards;
	/* transform-origin:150px 200px; */
}

.backIn{
	animation:comeIn 100ms linear forwards;
	/* transform-origin:150px 200px; */
}

.js-adjst {
	margin-left:300px;
}

@keyframes peek{
	from{
		width:300px;
	}
	to{
		width:0px;
	}
}

@keyframes comeIn{
	from{
		width:0px;
	}
	to{
		width:300px;
	}
}




























