.justifyContent {
	flex-direction:column;
}
.justifyContent .items {
	width:88%;
	margin:25px 0 25px 0;
}

@media screen and (max-width: 600px){
	.justifyContent .items {
		width:82%;
		margin:25px 0 25px 0;
	}
}

@media screen and (max-width: 450px) {
	.justifyContent .items {
		width:80%;
		margin:25px 0 25px 0;
	}
}