body {
				overflow:auto;
			}
			.justifyContent {
				flex-direction:rows;
				overflow:auto;
				padding:0px 50px;
				/* margin-bottom:40px; */
			}
			.justifyContent h1{
				margin:0;
				color:black;
			}
			.justifyContent a, h3, p, h2 {
				color:black;
			}
			img { margin:0;}
			
			.items {
				box-shadow:0px 0px 10px black;
				background:white;
				border-radius:20px;
				display:flex;
				margin-right:30px;
				flex-direction:column;
				font-family: 'Noto Sans JP', sans-serif;
				align-items:center;
				padding:30px;
				justify-content:justify;
				text-align:center;
				width:300px;
			}
			.items h1 {
			letter-spacing:0px;
			}