@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');

*{
  font-family: 'Work Sans', sans-serif;
}

body {
	margin:0px 40px 0px 40px;
}
header {
	height:150px;
	background: linear-gradient(147deg, #000000 0%, #04619f 74%);
	border-radius:0px 0px 20px 20px;
	padding:30px;
	margin-left:-40px;
	color:white;
}

#large-head {
	font-size:51px;
	font-weight:bold;
	margin:11px 0px 11px 0px;
}

.square {
	height:200px;
	width:200px;
	position:absolute;
	right:0px;
	top:0;
	border-radius:30% 0% 0% 0%;
	background-color:white;
	/* margin:-170px 0px 0px 1300px; */
	padding:10px 0px 0px 20px;
	float:left;
}

#library {
	height:150px;
	width:150px;
	margin:20px;
}


footer {
	background: linear-gradient(147deg, #000000 0%, #04619f 74%);
	text-align:center;
	padding:10px 200px;
	margin:0px -40px;
	display:flex;
	justify-content:justify;
	align-items:center;
	color:white;
	border-radius:20px 0px 0px 0px;
}

a {
	color:black;
}




















